
.product-container{
 grid-area: main;
 display: grid;
 grid-template-columns: repeat(2,1fr);
 width:100%;
 gap:1rem;
 place-items:center;
align-items:baseline;
 max-width:860px;
 border-left: 1px solid #d0cccc;
}

.card-container {
 display:grid;
 grid-template-rows: .3fr .8fr .2fr .5fr;
 /* place-items: center; */
 /* align-items: center; */
 max-width:385px;
 grid-gap: 1.5rem;
 min-height: 550px;
}

.add-to-cart {
 display: grid;
 grid-template-rows: 1fr;
 grid-template-columns: .6fr 1fr .4fr .8fr;
 grid-gap: .3rem;
 /* place-content:center; */
 /* justify-items:center; */
}

.meal-selection {
 display: grid;
 grid-gap: 1rem;
 grid-template-columns: 2fr .5fr;
 /* grid-template-rows: 1fr 1fr; */
}

.drink-selection{
 display:grid;
 grid-gap:.8rem;
 /* width: 8rem; */
 };

 /* .submenu {
  display: grid;
  grid-gap: .9rem;
  grid-template-columns: 3fr 1fr;
  align-items: baseline;
   width: 20rem;
 }; */

 